/* Name: Jia Xun Ng */
/* Student ID: 21884866 */
/* Header Stylesheet */
/* Source: https://www.w3schools.com/ */



/* Remove Colour from hyperlinked items -----------------------------*/
.header a { color: inherit;
    text-decoration: inherit; } 

/* Header -----------------------------*/
.header{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(15, 101, 105);
    padding: 1em;
    text-decoration: none;
}

/* Pro Target Header (Brand Name) ----------------------------- */
.header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-weight: lighter;
    font-size: 2em;
    margin-top: 0;
}

/* Target Logo -----------------------------*/
.header img {
    width: 0.9em;
    height: 0.9em;
}

/* Body -----------------------------*/
body {
    background-color: white;
    margin: 0; 
    padding: 0; 
}

/*Main Page Buttons -----------------------------*/
.mainpagebutton{
    text-align: right;
    margin-top:-3.8em;
    margin-right:5%;
    margin-bottom:1.5em;
}


/* Sign Up Button -----------------------------*/
.button1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;   
    display:inline-block;

}

/* Log In Button----------------------------- */
.button2{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;
    display:inline-block;
    
}

/* Buttons : Hover Effect-----------------------------*/
.button1:hover, .button2:hover {
    background-color: rgb(52, 137, 55); 
    color: white;
}


