/* Name: Jia Xun Ng */
/* Student ID: 21884866 */
/* MyTask Stylesheet */
/* Source: https://www.w3schools.com/howto/howto_js_todolist.asp */



body {
  margin: 0;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(15, 101, 105);
  letter-spacing: 1px;

}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.myUL ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.myUL ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all even list items to a different color (zebra-stripes) */
.myUL ul li:nth-child(even) {
  background: rgb(243, 254, 259);
}
/* Set all odd list items to a different color (zebra-stripes) */
.myUL ul li:nth-child(odd) {
  background:  rgb(227, 239, 244);
}

/* Darker background-color on hover */
.myUL ul li:hover {
  background: rgb(176, 204, 219);
}

/* When clicked on, add a background color and strike out text */
.myUL ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.myUL ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color:rgb(215,26,80);
  color: white;
}

/* Style the header */
.mytaskheader {
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.mytaskheader h2 {

  font-size: 1.3em;
  color: rgb(68, 78, 74);
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-transform: uppercase;
}


/* Clear floats after the header */
.mytaskheader:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the Input Fields */

input[type=text] {
  background:rgb(239,244,246);
  color:rgb(24,102,129);
  font-weight: bold;
   
}

::placeholder{
  color: rgb(158,187,199);
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

/* :Focus Effect */
#myInput:focus{
  background-color:rgb(221,232,237);
  outline: none;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  color: white;
  background-color:rgb(15, 53, 55);
  font-weight: bold;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  
}

.addBtn:hover {
  opacity: 0.8;
}
